.polloption{
    position: relative;
    height: 55px;
    border-radius: 6px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    border: 1px solid #8D8D8D30;
    cursor: pointer;
    overflow: hidden;
}

.label{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #6766D5;
    margin-left: 20px;
    margin-right: 10px;
    z-index: 1;
}

.content{
    z-index: 1;
    color: #000000;
}

.selected{
    border: 2px solid #8F64E1;
}